.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#how_to
{
    font-size: 15px;
    color: forestgreen;
}
body
{
    background-size: cover;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
.play_button
{
    width: 130px;
    font-size: 25px;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
}